/** Accordian Menu - Expandable Menu for Mobile **/


section.menu-expandable-block {
    margin-bottom:1em;
    background: none;
    border-style: none;
}
.menu-expandable-block ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative
}





span.menu-block-over-top + h2.block-title,
.menu-expandable-block ul.menu li a {
    display: block;
    line-height: 1em;
    padding: 0.5em;
    margin-bottom: 10px;
    outline:none;
    background:#333;
    color:#FFF;
    border:1px solid #666;
}

.menu-expandable-block ul li.expanded,
.menu-expandable-block ul li {
	    list-style-image: none;
    list-style-type: none;
}

span.menu-block-over-top, .menu-expandable-block ul.menu span.menu-block-over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    padding: 0 0.5em;
    text-align: center;
    cursor:pointer;
}

.menu-expandable-block ul.menu ul {
    margin:0;
    padding:0;
    display:none;
}
.menu-expandable-block ul.menu ul li a {
    text-indent:0;
    color:#000;
    background:#CCC;
    text-decoration:none;
}


.menu-expandable-block ul.menu ul li a.last {
    border-bottom: none;
}

span.menu-block-over + a, span.menu-block-over + a:link { 
  text-decoration: none; 
}

span.menu-block-over + ul li {
    list-style-image: none;
    list-style-type: none;
}